/* ========================================
   Weather
======================================== */

.weather-widget {
  display: flex;
  flex-direction: column;

  gap: var(--space-2);
}

.weather-top {
  display: flex;
  align-items: center;

  gap: var(--space-2);
}

#weather-icon {
  width: 26px;
  height: 26px;
}

#location {
  display: flex;
  align-items: center;
}