/* ========================================
   Main Dashboard
======================================== */

.dashboard {
  position: relative;
  z-index: var(--z-content);

  min-height: 100vh;
  width: 100%;
  max-width: 1700px;

  margin: 0 auto;

  padding: var(--space-8);

  display: flex;
  flex-direction: column;
}
